body {
	background-image: url('background.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 1240px) {
	body {
		background-position: initial;
	}
}

p {
	margin: 0px;
	font-size: 20px;

}

input[type=checkbox] {
	margin-top: 7px;
	margin-left: -16px !important;
}

.checkDiv1, .checkDiv2, .checkDiv3 {
	display: none;
	border-left: 1px solid #000;
	padding: 0 20px;
}

.title {
	text-align: center;
	font-size: 68px;
	margin-top: 40px;
	line-height: 52px;
	font-family: Lobster;
}

.subTitle {
	text-align: center;
	font-size: 18px;
	margin: 2px 0 40px 0;
}

.random {
	width: 100%;
	margin: 20px 0;
}

.wordArea {
	text-align: center;
	font-size: 20px;
}



