body {
	background-image: url('images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 1240px) {
	body {
		background-position: initial;
		background-size: cover;
	}
}

p {
	margin: 0px;
	font-size: 20px;

}

input[type=checkbox] {
	margin-top: 7px;
	margin-left: -16px !important;
}

.checkDiv1, .checkDiv2, .checkDiv3 {
	display: none;
	border-left: 1px solid #000;
	padding: 0 20px;
}

.title {
	text-align: center;
	font-size: 68px;
	margin-top: 40px;
	line-height: 52px;
	font-family: Lobster;
}

.subTitle {
	text-align: center;
	font-size: 18px;
	margin: 2px 0 40px 0;
}

.random {
	width: 100%;
	margin: 20px 0;
}

.save {
	width: 100%;
	margin: 20px 0;
	display: none;
}

.wordArea {
	text-align: center;
	font-size: 20px;
}

.brand {
	font-family: Lobster;
}

.description {
	resize: none;
}

.descriptionContainer {
	margin-top: 40px;
	display: none;
}

.codeMedia {
	min-height: 120px;
	margin: 20px 10px;
	border: 1px solid black;
	text-align: center;
	width: auto;
}

@media only screen and (min-width: 768px) {
	.codeMedia {
		margin: 20px auto;
		text-align: left;
		width: 100%;
	}
}

.codeMedia h3 {
	font-weight: bold;
}

.listTitle {
	font-family: Montserrat;
	font-weight: bold;
	text-align: center;
}

.newCodeSection {
	margin-top: 40px;
}



